/*

CAT-SOOP Default Style
(c) Adam Hartz

Based on default colors in Python's IDLE

Modified from
XCode style (c) Angel Garcia <angelgarcia.mail@gmail.com>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  color: black;
}

.hljs-comment,
.hljs-quote {
  color: #dd0000;
}

.hljs-keyword,
.hljs-selector-tag,
.hljs-literal {
  color: #ff7700;
}

.hljs-name {
  color: #008;
}

.hljs-variable,
.hljs-template-variable {
  color: #660;
}

.hljs-string {
  color: #00aa00;
}

.hljs-regexp,
.hljs-link {
  color: #080;
}

.hljs-title,
.hljs-tag,
.hljs-symbol,
.hljs-bullet,
.hljs-meta {
  color: #1c00cf;
}

.hljs-section,
.hljs-type,
.hljs-attr,
.hljs-number,
.hljs-params {
  color: inherit;
}

.hljs-built_in,
.hljs-builtin-name {
  color: #900090;
}

.hljs-class .hljs-title {
  color: #0000ff;
}

.hljs-attribute,
.hljs-subst {
  color: #000;
}

.hljs-formula {
  background-color: #eee;
  font-style: italic;
}

.hljs-addition {
  background-color: #baeeba;
}

.hljs-deletion {
  background-color: #ffc8bd;
}

.hljs-selector-id,
.hljs-selector-class {
  color: #9b703f;
}

.hljs-doctag,
.hljs-strong {
  font-weight: bold;
}

.hljs-emphasis {
  font-style: italic;
}
